axis2-wsdl/src/main/resources/META-INF/UserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://localhost:8080/ws/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://localhost:8080/ws/service" targetNamespace="http://localhost:8080/ws/service">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://localhost:8080/ws/vo">
            <xs:element name="getUserInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ns:User"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="User">
                <xs:sequence>
                    <xs:element minOccurs="0" name="age" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getUserInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                        <xs:element name="args1" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:User"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBlankUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ns:User"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBlankUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:User"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getBlankUserRequest">
        <wsdl:part name="parameters" element="ns:getBlankUser"/>
    </wsdl:message>
    <wsdl:message name="getBlankUserResponse">
        <wsdl:part name="parameters" element="ns:getBlankUserResponse"/>
    </wsdl:message>
    <wsdl:message name="getUserRequest">
        <wsdl:part name="parameters" element="ns:getUser"/>
    </wsdl:message>
    <wsdl:message name="getUserResponse">
        <wsdl:part name="parameters" element="ns:getUserResponse"/>
    </wsdl:message>
    <wsdl:message name="getUserInfoRequest">
        <wsdl:part name="parameters" element="ns:getUserInfo"/>
    </wsdl:message>
    <wsdl:message name="getUserInfoResponse">
        <wsdl:part name="parameters" element="ns:getUserInfoResponse"/>
    </wsdl:message>
    <wsdl:portType name="UserServicePortType">
        <wsdl:operation name="getBlankUser">
            <wsdl:input message="tns:getBlankUserRequest" wsaw:Action="urn:getBlankUser"/>
            <wsdl:output message="tns:getBlankUserResponse" wsaw:Action="urn:getBlankUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getUser">
            <wsdl:input message="tns:getUserRequest" wsaw:Action="urn:getUser"/>
            <wsdl:output message="tns:getUserResponse" wsaw:Action="urn:getUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getUserInfo">
            <wsdl:input message="tns:getUserInfoRequest" wsaw:Action="urn:getUserInfo"/>
            <wsdl:output message="tns:getUserInfoResponse" wsaw:Action="urn:getUserInfoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UserServiceSoap11Binding" type="tns:UserServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getBlankUser">
            <soap:operation soapAction="urn:getBlankUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUser">
            <soap:operation soapAction="urn:getUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserInfo">
            <soap:operation soapAction="urn:getUserInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UserServiceSoap12Binding" type="tns:UserServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getBlankUser">
            <soap12:operation soapAction="urn:getBlankUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUser">
            <soap12:operation soapAction="urn:getUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserInfo">
            <soap12:operation soapAction="urn:getUserInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UserServiceHttpBinding" type="tns:UserServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getBlankUser">
            <http:operation location="getBlankUser"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUser">
            <http:operation location="getUser"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserInfo">
            <http:operation location="getUserInfo"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UserService">
        <wsdl:port name="UserServiceHttpSoap11Endpoint" binding="tns:UserServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/UserService"/>
        </wsdl:port>
        <wsdl:port name="UserServiceHttpSoap12Endpoint" binding="tns:UserServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/UserService"/>
        </wsdl:port>
        <wsdl:port name="UserServiceHttpEndpoint" binding="tns:UserServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/UserService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
